*{
   
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
    
  }
  .menu{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    background-color: #1f2937;
    flex-wrap: wrap;
    padding: 15px;
    
  }
#start{
  flex: 1 1 auto;
}

  .menu h4{
    color: #F9FAF8;
  }

  .section2{
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .awesome{
    background-color: #1f2937;
    padding: 10px;
  }
  .awesome h1{
    font-size: 48px ;
    color: #F9FAF8;
  }
  .awesome p{
    color: #F9FAF8;
  }
  button{
    background-color: #3882f6;
    color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
    border-color: white;
  }
  img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
  }

  .section3{
    display: flex;
    margin: 10px;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
  }

  #text{
    text-align: center;
  }

  .blub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
  }

.quote{
  background-color: #E5E7EB;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.quote p{
  align-self: center;
}
#gen{
  align-self: flex-end;
}
.call{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3882f6;
  margin: 50px;

}

#but{
  align-self: center;
}

.footer{
  background-color: #1f2937;
  padding: 30px;
  text-align: center;
  color: #E5E7EB;
}
#big{
  font-size: 36px;
}
